html{
    height: 100%;
}
body{
    margin: 0px;
    height: 100%;
}

#navigation_left{
    box-sizing: border-box;
    width: 100px;
    height: 100%;
    background-color: #1D2531;
    float: left;
}
.items{
    position: absolute;/*绝对定位使图标自适应*/
    top:1%;
    left:20px;/*基本居中 */
}
.items img{
    clear: both;
    float: left;/*浮动来实现排成列*/
    margin: 10px 0px;
}
.bottom_actions{
    /* text-align: center; 使用绝对定位后text-align失效*/ 
    position: absolute;
    bottom: 2%;
    left: 25px;
}


#navigation_right{
    box-sizing: border-box;
    width: 250px;
    height: 100%;
    background-color: #222C3C;
    float: left;
    overflow-x:hidden;/*去掉横向滚动条*/

}
.part_1{
    /*使用relative而不是absolute的原因是避免浏览器缩放时被覆盖*/
    position: relative;
    top:2%;
    left: 25px;
}
.part_2{
    position: relative;
    top:2%;
    left: 25px;
}
.part_3{
    position: relative;
    top:2%;
    left: -10px;
}
.part_4{
    position: absolute;
    bottom:2%;
    left: 125px;
}

#main{/*白色主体部分*/
    margin-left: 350px;
    height: 100%;
    /* background-color:blueviolet; */
}
.Messages{
    height: 80px;
    border-bottom: 1px solid  rgb(127, 143, 164);
}
.message{/*“Messages”字体的相关信息*/
    width: 120px;
    font-size: 24px;
    color: rgb(53, 64, 82);
    position: relative;
    top:25%;
    left: 30px;
}
.profile{/*右上角个人信息*/
    position: absolute;
    top:20px;
    right: 3%;
}


#box{
    position: absolute;
    top:80px;
    bottom: 0;
    box-sizing: border-box;
}
.contact_list{
    box-sizing: border-box;
    float: left;
    width: 400px;
    height: 100%;
    /* background-color: coral; */
    border-right: 1px solid rgb(127, 143, 164);
    overflow-x: hidden;/*隐藏横向滚动条*/
}
.search{/*搜索框*/
    box-sizing: border-box;
    height: 64px;
    border-bottom: 1px solid rgb(127, 143, 164);
    text-align: center;
}
.search img{
    position: relative;
    top:15px;
}


.main_content{
    box-sizing: border-box;
    /* width: 100%; */
    padding-left: 400px;  
    height: 100%;
    /* background-color: black; */
}
.tools{
    float: left;
    box-sizing: border-box;
    height:64px;
    width: 100%;
    border-bottom: 1px solid rgb(127, 143, 164);
}
/* .Profile_name{
    position: relative;
    top:10px;
    left: 20px;
} 
.tool_icon{
    
} */


  